{% extends 'hospital/homebase.html' %}
{% load static %}

{% block content %}

<head>
  <style>
    .jumbotron {
      margin: 20px 0;
      padding: 20px;
      background-color: #f8f9fa;
      text-align: center;
    }

    .jumbotron h5 {
      font-size: 28px;
      color: #333;
    }

    .jumbotron h3 {
      font-size: 22px;
      color: #555;
      margin-top: 15px;
    }

    .jumbotron p.lead {
      margin-top: 15px;
    }

    .btn-primary {
      padding: 10px 20px;
      font-size: 16px;
    }
  </style>
</head>

<br>

<div class="jumbotron">
  <h5>You’ll Love the Way We Care for You</h5>
  <br>
  <h3>Emergency?</h3>
  <p class="lead">
    <a class="btn btn-primary" href="/patientclick" role="button">Take Appointment</a>
  </p>
</div>

<br>

{% include "hospital/admin_doctor_patient_card.html" %}

{% endblock content %}
